modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["gt"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "React Dev Server"

[[workflows.workflow]]
name = "Dev Build"
author = 44237291
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mobile && npm start"

[[workflows.workflow]]
name = "Mobile Dev"
author = 44237291
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mobile && npx expo start --clear"

[[workflows.workflow]]
name = "React Dev Server"
author = 44237291
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 8081
externalPort = 80
