modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Dev Build"

[[workflows.workflow]]
name = "Dev Build"
author = 44237291
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd mobile && npm start"

[[ports]]
localPort = 8081
externalPort = 80
